.speedDial {
  position: fixed;
  right: 1vmax;
  top: 5vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  z-index: 9000000000000000;
  object-fit: cover;
  border-radius: 50%;
}

.container-fluid img{
  width: 70px;
}


.nav-item a{
  font: 500 1.1rem "roboto";
  color: white;
}

form p a i{
  font: 500 1.5rem "roboto";
  color: white;
}
form p{
  margin-right: 1.5vmax;
}